<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <toto>{{ app.session.get('cle') }}</toto>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

	    <meta property="og:title" content="{{title}}" />

		<!--FAVICON-->
		<link rel="icon" type="image/gif" href="/favicon.ico" />

		<!--JQUERY-->
    	<script src="{{ asset('js/jquery.js') }}"></script>

    	<!--ANGULAR JS -->
    	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>-->

		<!-- Intégration de Bootstrap -->
		<link rel="stylesheet" media="screen" href="{{ asset('css/bootstrap.css') }}">
		<script src="{{ asset('js/bootstrap.js') }}"></script>


		<!-- WEGEOO LIB -->
		{% block stylesheets %}
			{% stylesheets output="css/compiled/wegeoo-engine5.css" filter="cssrewrite"
				'bundles/wegeoowebsite/wegeoo/component/alert/bootstrap-dialog.css'
                'bundles/wegeoowebsite/wegeoo/component/multiselect/bootstrap-select.css'
                'bundles/wegeoowebsite/css/classified.css'
                'bundles/wegeoowebsite/css/header.less'
                'bundles/wegeoowebsite/css/advertiserOffers.css'
                'bundles/wegeoowebsite/css/footer.css'
            %}
            	<link type="text/css" media="screen" rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
		{% endblock %}

		{% block javascripts %}
			{% javascripts output="js/compiled/wegeoo-engine.js"
                'bundles/wegeoowebsite/wegeoo/Wegeoo.js'
                'bundles/wegeoowebsite/wegeoo/component/alert/bootstrap-dialog.js'
                'bundles/wegeoowebsite/wegeoo/component/banner/wegeoo.banner.js'
                'bundles/wegeoowebsite/wegeoo/component/energeticArrow/wegeoo.energeticarrow.js'
                'bundles/wegeoowebsite/wegeoo/component/multiselect/bootstrap-select.js'
                'bundles/wegeoowebsite/wegeoo/component/tabs/bootstrap-tabs.js'
                'bundles/wegeoowebsite/wegeoo/component/infinitescroll/infiniteScroll.js'
                'bundles/wegeoowebsite/wegeoo/component/wegeoomap/WegeooMap.js'
                'bundles/wegeoowebsite/wegeoo/component/wegeoomap/markerclusterer.js'
                'bundles/wegeoowebsite/wegeoo/component/autocomplete/jquery.autocomplete.js'
                'bundles/wegeoowebsite/wegeoo/component/swiper/idangerous.swiper.min.js'
                'bundles/wegeoowebsite/wegeoo/controller/FrontController.js'
                'bundles/wegeoowebsite/wegeoo/controller/StorageController.js'
                'bundles/wegeoowebsite/wegeoo/controller/ClassifiedController.js'
                'bundles/wegeoowebsite/wegeoo/controller/CityController.js'
                'bundles/wegeoowebsite/wegeoo/route/RouteController.js'
                'bundles/wegeoowebsite/wegeoo/route/Route.js'
                'bundles/wegeoowebsite/wegeoo/route/Slug.js'
                'bundles/wegeoowebsite/wegeoo/route/SlugView.js'
                'bundles/wegeoowebsite/wegeoo/locale/LocaleManager.js'
                'bundles/wegeoowebsite/wegeoo/event/WegeooEvent.js'
                'bundles/wegeoowebsite/wegeoo/service/Service.js'
                'bundles/wegeoowebsite/wegeoo/service/Operation.js'
                'bundles/wegeoowebsite/wegeoo/utils/Ini.js'
                'bundles/wegeoowebsite/wegeoo/utils/StringUtils.js'
			%}
				<script src="{{ asset_url }}" charset="UTF-8"></script>
			{% endjavascripts %}
		{% endblock %}

        <!-- GOOGLE ANALYTICS -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-59398211-1', 'auto');
            ga('send', 'pageview');

        </script>

		<!-- BOOTSTRAP SLIDER -->
		<!-- <script src="/libs/bootstrap/js/bootstrap-slider.js"></script>
		<script src="/libs/bootstrap/js/modernizr.js"></script>
		<link href="/libs/bootstrap/css/bootstrap-slider.css" rel="stylesheet"> -->

		<!--FONTS-->
		<!--<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700' >-->

		<script>
			//@TODO locale symfony
			var lStrings = {};
			lStrings.estate = "immobilier";
			lStrings.rent = "location";

			var gBaseURL = "{{baseURL}}";
			var gAssetDirectory = "{{ asset('bundles/wegeoowebsite/') }}";

		</script>

		<!--[if gte IE 9]>
		  <style type="text/css">
		    .gradient {
		       filter: none;
		    }
		  </style>
		<![endif]-->

	</head>

	<body>
		<div class="container container-wegeoo">

            <!-- HEADER -->
            <div class="row show-grid logoLayout">
                <div class="span12">

                    <!-- LOGO -->
                    <a href="/">
                        <div class="logo">
                            <img src="{{ asset("bundles/wegeoowebsite/images/logo180px.png") }}" width="90" height="90" alt="Wegeoo Logo"/>
                        </div>


                        <!-- TEXT -->
                        <div class="logo-text">
                            <h1>
                                <span class="logoName1">we</span><span class="logoName2">Geoo</span>
                                <br/>
                                <span class="logo-text-span">{% trans %} wegeoo.slogan.part1 {% endtrans %}</span>
                            </h1>
                        </div>
                    </a>
                </div>
            </div>

            <div class=annonceurs_container>

            <!--TITLE-->
            <div class=annonceurs_grey_title>
            </div>


            <div class=annonceurs_type_container>
                <div class=annonceurs_square></div>
                <div class=annonceurs_type_title>
                    <span>Vous êtes un annonceur local</span>
                </div>

                <!--DESCRIPTION-->
                <div class=annonceurs_type_description>
    				<span>GeoImmobilier.fr vous propose des tarifs intéressants pour faire apparaître vos bannières publicitaires sur notre site.
						<br/>Votre bannière sera visible par les utilisateurs habitant la région que vous sélectionnerez.
						<br/>Un emplacement est prévu pour vous. Il se situe dans la page des résultats d’une recherche.
						<br/>Vous avez également le choix de la catégorie d’annonces (vente,location...)
						<br/>Veuillez bien lire les spécifications requises en bas de page.
						<br/><br/>Pour connaître nos tarifs ou pour toute autre demande, veuillez envoyer un email à infos-annonceurs@geoimmobilier.fr
					</span>
                </div>

                <!--BANNER-->
                <span class=annonceurs_type_banner_offer_name>OFFRE N°1</span>
                <div class=annonceurs_type_banner_container>
                    <div class=annonceurs_type_banner_preview02></div>
                    <div class=annonceurs_type_banner_description>
    					<span class=annonceurs_type_banner_title>
    						Bannière Horizontale 780x90 (Page de recherche)
    					</span>
                        <br/>
                        <br/>
    					<span class=annonceurs_type_banner_spec>
    						Votre bannière publicitaire de dimensions 780 pixels x 90 pixels aux formats png, gif, swf, jpeg, jpg visible sur les pages de recherche.
    					</span>
                        <br/>
                        <br/>
    					<span class=annonceurs_type_banner_spec>
    						Durées possibles:
							<br/>1 semaine
							<br/>2 semaines
							<br/>1 mois
    					</span>
                    </div>

                </div>


            </div>

            <br/>

            <div class=annonceurs_type_container>
                <div class=annonceurs_square></div>
                <div class=annonceurs_type_title>
                    <span>Vous êtes un annonceur national</span>
                </div>

                <!--DESCRIPTION-->
                <div class=annonceurs_type_description>
    				<span>GeoImmobilier.fr vous propose des tarifs intéressants pour faire apparaître vos bannières publicitaires sur notre site.
						<br/>Votre bannière sera visible par tous les utilisateurs quelque soit leur région.
						<br/>De nombreux emplacements sont prévus pour vous.
						<br/>Vous avez également le choix de la catégorie d’annonces (vente,location...)
						<br/>Veuillez bien lire les spécifications requises en bas de page.
						<br/><br/>Pour connaître nos tarifs ou pour toute autre demande, veuillez envoyer un email à infos-annonceurs@geoimmobilier.fr
					</span>
                </div>

                <!--BANNER-->
                <!--<div class=annonceurs_type_offer_container>
                    <span class=annonceurs_type_banner_offer_name>OFFRE N°2</span>
                    <div class=annonceurs_type_banner_container>
                        <div class=annonceurs_type_banner_preview08></div>
                        <div class=annonceurs_type_banner_description_very_short>
                            <span class=annonceurs_type_banner_title>
                                Habillage complet (Page d’accueil)
                            </span>
                            <br/>
                            <br/>
                            <span class=annonceurs_type_banner_spec>
                                L’habillage sera visible sur la page d’accueil.
                            </span>
                            <br/>
                            <br/>
                            <span class=annonceurs_type_banner_spec>
                                Durées possibles:
                                <br/>1 jour
                                <br/>1 semaine
                            </span>
                        </div>

                    </div>
                </div>-->

                <!--BANNER-->
                <div class=annonceurs_type_offer_container>
                    <span class=annonceurs_type_banner_offer_name>OFFRE N°2</span>
                    <div class=annonceurs_type_banner_container>
                        <div class=annonceurs_type_banner_preview05></div>
                        <div class=annonceurs_type_banner_description_short>
	    					<span class=annonceurs_type_banner_title>
	    						Bannière Horizontale 780x90 (Page d’accueil)
	    					</span>
                            <br/>
                            <br/>
	    					<span class=annonceurs_type_banner_spec>
	    						Votre bannière publicitaire de dimensions 780 pixels x 90 pixels aux formats png, gif, swf, jpeg, jpg visible sur la page d’accueil
	    					</span>
                            <br/>
                            <br/>
	    					<span class=annonceurs_type_banner_spec>
	    						Durées possibles:
								<br/>1 semaine
								<br/>2 semaines
								<br/>1 mois
	    					</span>
                        </div>

                    </div>
                </div>

                <!--BANNER-->
                <div class=annonceurs_type_offer_container>
                    <span class=annonceurs_type_banner_offer_name>OFFRE N°3</span>
                    <div class=annonceurs_type_banner_container>
                        <div class=annonceurs_type_banner_preview07></div>
                        <div class=annonceurs_type_banner_description_short>
	    					<span class=annonceurs_type_banner_title>
	    						Bannière 800x400 (Pendant l’attente des résultats de la recherche)
	    					</span>
                            <br/>
                            <br/>
	    					<span class=annonceurs_type_banner_spec>
	    						Votre bannière publicitaire de dimensions 780 pixels x 90 pixels aux formats png, gif, swf, jpeg, jpg visible sur la carte pendant l’attente des résultats de la recherche.
Veuillez bien lire les spécifications requises en bas de page.
	    					</span>
                            <br/>
                            <br/>
	    					<span class=annonceurs_type_banner_spec>
	    						Durées possibles:
								<br/>1 semaine
								<br/>2 semaines
								<br/>1 mois
	    					</span>
                        </div>

                    </div>
                </div>

                <!--BANNER-->
                <div class=annonceurs_type_offer_container>
                    <span class=annonceurs_type_banner_offer_name>OFFRE N°4</span>
                    <div class=annonceurs_type_banner_container>
                        <div class=annonceurs_type_banner_preview03></div>
                        <div class=annonceurs_type_banner_description_short>
	    					<span class=annonceurs_type_banner_title>
	    						Bannière Horizontale 780x90 (Page de recherche)
	    					</span>
                            <br/>
                            <br/>
	    					<span class=annonceurs_type_banner_spec>
	    						Votre bannière publicitaire de dimensions 780 pixels x 90 pixels aux formats png, gif, swf, jpeg, jpg visible sur les pages de recherche.
	    					</span>
                            <br/>
                            <br/>
	    					<span class=annonceurs_type_banner_spec>
	    						Durées possibles:
								<br/>1 semaine
								<br/>2 semaines
								<br/>1 mois
	    					</span>
                        </div>

                    </div>
                </div>

                <!--BANNER-->
                <div class=annonceurs_type_offer_container>
                    <span class=annonceurs_type_banner_offer_name>OFFRE N°5</span>
                    <div class=annonceurs_type_banner_container>
                        <div class=annonceurs_type_banner_preview04></div>
                        <div class=annonceurs_type_banner_description_short>
	    					<span class=annonceurs_type_banner_title>
	    						Bannière Horizontale 780x90 (Page de détails des annonces)
	    					</span>
                            <br/>
                            <br/>
	    					<span class=annonceurs_type_banner_spec>
	    						Votre bannière publicitaire de dimensions 780 pixels x 90 pixels aux formats png, gif, swf, jpeg, jpg visible sur la page de détails des annonces.
Veuillez bien lire les spécifications requises en bas de page.
	    					</span>
                            <br/>
                            <br/>
	    					<span class=annonceurs_type_banner_spec>
	    						Durées possibles:
								<br/>1 semaine
								<br/>2 semaines
								<br/>1 mois
	    					</span>
                        </div>

                    </div>
                </div>

                <!--BANNER-->
                <div class=annonceurs_type_offer_container>
                    <span class=annonceurs_type_banner_offer_name>OFFRE N°6</span>
                    <div class=annonceurs_type_banner_container>
                        <div class=annonceurs_type_banner_preview06></div>
                        <div class=annonceurs_type_banner_description_short>
	    					<span class=annonceurs_type_banner_title>
	    						Bannière Horizontale 300x250 (Page de détails des annonces)
	    					</span>
                            <br/>
                            <br/>
	    					<span class=annonceurs_type_banner_spec>
	    						Votre bannière publicitaire de dimensions 300 pixels x 250 pixels aux formats png, gif, swf, jpeg, jpg visible sur la page de détails des annonces.
Veuillez bien lire les spécifications requises en bas de page.
	    					</span>
                            <br/>
                            <br/>
	    					<span class=annonceurs_type_banner_spec>
	    						Durées possibles:
								<br/>1 semaine
								<br/>2 semaines
								<br/>1 mois
	    					</span>
                        </div>

                    </div>
                </div>

            </div>
            </div>


            <div class=annonceurs_spec_container>
                <span class=annonceurs_spec_title>Spécifications requises:</span>
			<span>
				<br/>Les créations à fond perdu ne seront pas acceptées. Elles doivent être développées sur une couleur de fond distincte de la couleur de fond de nos sites ou être délimitées par un cadre ou une bordure.
				<br/>Une image de backup (gif/jpeg) est requise pour accompagner les créations en flash (Iphone, version flash player incompatible…)
				<br/>Les créations en flash doivent être livrées avec ce clickTag "on (release) {getURL(clickTag,"_blank");}".
				<br/>Le son est OFF par défaut. Activable au clic sur un bouton clairement identifiable « son on/off ».
				<br/>Les créations avec vidéo doivent respecter les spécifications propres à la vidéo.
				<br/>Une seule boucle est autorisée pour les créations contenant de la vidéo.
				<br/>Les créations ne doivent pas augmenter de plus de 25 % la charge CPU d'une machine moyenne gamme.
				<br/>Les créations doivent fonctionner de façon uniforme sur MAC et PC ainsi que sur l'ensemble des navigateurs et leurs différentes versions. La compatibilité entre les différents navigateurs est à la responsabilité du client.
				<br/>Toute publicité qui s'avèrerait intrusive et/ou préjudiciable pour nos internautes, qui pourrait nuire à leur confort de navigation et/ou les induire en erreur, qui comporterait des éléments et/ou un message tendancieux pourra être refusée par GeoImmobilier.fr.
				<br/>Les créations doivent être éditées dans les langues locales du pays où l'annonce est diffusée.
    			<br/><br/>
    		</span>
            </div>



            <div class="geo_immo_logo_container">
                <a href="/"><div class="geoimmo_logo"></div></a>
                <div class="header_logo_slogan"></div>
                <!--<span class="header_logo_slogan">La recherche d’annonces<br/>par Geo localisation</span>-->
            </div>


            {% embed "@WegeooWebsite/Default/footer.html.twig" %}{% endembed %}

        </div>

	</body>
</html>