{% for lClassified in classifieds %}
<a class="classifiedAdRowContain"  href="{{lClassified.url}}" target="_blank">
	<div class="classifiedAdRowContainer" 
		onmouseover="javascript:Wegeoo.FrontController.getInstance().dispatchEvent(new Wegeoo.WegeooEvent(Wegeoo.WegeooEvent.PREVIEW_CLASSIFIED_MOUSE_OVER , '{{lClassified.reference}}'))"
		onmouseout="javascript:Wegeoo.FrontController.getInstance().dispatchEvent(new Wegeoo.WegeooEvent(Wegeoo.WegeooEvent.PREVIEW_CLASSIFIED_MOUSE_OUT ,  '{{lClassified.reference}}'))" >
		
		<!-- PHOTO -->
        <div class="annonce_preview_image_container premiumClassifiedAdPreviewImageContainer">
            {% if lClassified.medias|length > 0 %}
                <img class="annonce_preview_image premiumClassifiedAdPreviewImage" src="{{lClassified.medias[0]}}" alt="{{lClassified.title}}"></img>
            {% else %}
                <img class="annonce_preview_image premiumClassifiedAdPreviewImage" src="{{asset('/bundles/wegeoowebsite/images/annonce/defaultPreviewClassifiedPhoto218.jpg')}}" alt="Wegeoo No Image"></img>
            {% endif %}
            {% if lClassified.options is defined and lClassified.options.urgent is defined and lClassified.options.urgent == 1 %}
                <div class="preview_urgent"></div>
            {% endif %}
		</div>
		
		<!-- DETAILS -->
		<div class="classifiedAdDetails">
			
			<!-- PRICE -->
			<div class="classifiedAdPrice classifiedAdPriceSpan">
                {% if lClassified.category == 'sale' %}
                    {% if lClassified.details.price is defined %}
                        <span class="price">{{ formatPrice(lClassified.details.price) }}</span>
                    {% else %}
                        <span class="price">{% trans %}classified.details.price.notProvided{% endtrans %}</span>
                    {% endif %}
                {% elseif lClassified.category == 'rent' %}
                    {% if lClassified.details.weekPrice is defined and lClassified.details.monthPrice is defined %}

                        {% if lClassified.details.weekPrice is defined %}
                            <span class="price">{{ formatPrice(lClassified.details.weekPrice) }} pw</span>
                        {% endif %}
                        &nbsp;-&nbsp;
                        {% if lClassified.details.monthPrice is defined %}
                            <span class="price">{{ formatPrice(lClassified.details.monthPrice) }} pcm</span>
                        {% endif %}
                    {% else %}
                        {% if lClassified.details.price is defined %}
                            {% if lClassified.details.price == '-1' %}
                                <span class="detailsPrice">Price on application</span>
                            {% elseif lClassified.details.price is defined %}
                                <span class="detailsPrice">{{ formatPrice(lClassified.details.price) }}</span>
                            {% endif %}
                        {% else %}
                            <span class="detailsPrice">{% trans %}classified.details.price.notProvided{% endtrans %}</span>
                        {% endif %}
                    {% endif %}
                {% endif %}

			</div>

            <!-- LOCATION -->
            <div class="premiumClassifiedAdLocation">
                <span class="annonce_preview_infos_postal_code" id="postal_code">{{lClassified.city.postCode}}</span><span class="annonce_preview_infos_town" id="town">{{lClassified.city.name}}</span>
            </div>

			<!-- TITLE -->
			<div class="premiumClassifiedAdTitle">
				<span class="classifiedAdRowTitle" id="title" >{{lClassified.title}}</span><br/>
			</div>

			<!-- DESCRIPTION -->
			<div class="premiumClassifiedAdPreviewDetails">
				<h2 class="annonce_preview_description premiumClassifiedAdPreviewDescription" id="description">{{lClassified.description | raw}}</h2>
			</div>
		</div>
	</div>
</a>
{% endfor %}