<html>
<head>
    <title></title>
</head>
<body>
<div style=\"font-family:Arial,sans-serif;font-size:12px;text-align:left;\">
    <p>Dear {{ classified.contact.name }},</p>
    <p>
        Your classified has been properly posted.<br />
        Thanks for posting your classified at Wegeoo! To activate your classified, click on the link below:<br/>
        <a href="{{ activationUrl }}">{{ activationUrl }}</a><br/>
        <br />
        Some informations about your classified:<br />
        Email : {{ classified.contact.email }}<br />
        Reference: {{ classified.reference }}<br />
        Classified URL: <a href="{{ classifiedURL }}">{{ classifiedURL }}</a><br />
        <br />
        These informations will be used in order to edit, remove and highlight your classified.
        So do not remove this mail.
        <br /><br />
        See you soon in <a href="www.wegeoo.com" />Wegeoo</a>
        <br /><br />
        Thanks, The Team Wegeoo
    </p>
    <p style=\"font-size:8px;color:#808080;\">
        ________________________________________
        <br/>
        Not reply to this automatic mail. Your mail can not be treated.
        <br/>
        To contact us, go to the website.
    </p>
</div>
</body>
</html>