<html>
<head>
<title></title>
<style type="text/css">

    p{font-family:Arial,sans-serif;font-size:12px;text-align:left;}
    .footer{font-size:8px;color:#808080;}
</style>
</head>
<body>
<div>
<p>Cher {{ classified.contact.name }},</p>
<p>Un visiteur du site Wegeoo a souhaité vous adresser un message privé:<br/>
Nom: {{ userName }}<br/>
Email: {{ userEmail }}<br/>
<br/>
{{ userMessage | nl2br }}<br/>
<br/>
Pour retrouver l'annonce correspondante:<br/>
<a href="{{ classified.url }}">{{ classified.url }}</a><br />
<br/>
<br/>
A très bientôt sur <a href="www.wegeoo.com" />www.wegeoo.com</a><br/>
<br/>
L'équipe Wegeoo</p>
<p class="footer">Merci de ne pas répondre à ce mail automatique, votre demande ne pourra pas être traitée.
<br/>
Pour nous contacter, rendez-vous sur le site.</p>
</div>
</body>
</html>